<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IOT Demo</title>
    <link rel="stylesheet" href="../static/general.css">
</head>
<body>
    <div id="header">
        <h1>Robotica</h1>
    </div>
    <div id="content">
        <h2>Robotica is de tak van de mechatronica die zich bezighoudt met theoretische implicaties en praktische toepassingen van robots in de ruimste zin van het woord.</h2>

        <img src="../static/robotica_head.png" alt="robot head">
<p class="title"><span class="step">1</span>Welk type robot zal je bouwen?</p>
<p>De belangrijkste keuze die je moet maken voor je een robot kan bouwen, is beslissen welk type je zal ontwerpen. Er zijn immers enorm veel soorten robots, zoals: lijnvolgers, voetbalrobots, ‘all terrain’ robots en zoveel meer. Daarnaast is het ook interessant om te weten waar je deze robot voor zal inzetten, bijvoorbeeld tijdens een robotcompetitie.</p>

    <p class="title"><span class="step">2</span>Vertrek van de details</p>
<p>Nadat je beslist hebt welk type robot je zal bouwen en welk doel deze zal hebben, is de volgende stap het neerschrijven van de specificaties. Deze omvatten: het type microprocessor, het aantal wielen dat je robot nodig zal hebben, het soort printplaat, enz. </p>

    <p class="title"><span class="step">3</span>Richt je werkplaats in</p>
<p>Eigenlijk heb je niet veel meer nodig dan een handvol werktuigen en onderdelen en een propere, geventileerde en goed verlichte werkplaats. Deze werkruimte kan zowel de keukentafel zijn, als een stukje van de werkbank in je kelder. Hoe groter de robot, hoe meer plaats en werktuigen je natuurlijk zal nodig hebben. Merk je dat je steeds meer tijd doorbrengt met het bouwen van robots, dan zou een meer permanente set-up handiger en productiever kunnen zijn.</p>

    <p class="title"><span class="step">4</span>Bereid jezelf voor</p>
<p>Maak voor jezelf een tijdschema. Duid hier de belangrijkste bouwstadia op aan en beslis wanneer deze zouden moeten voltooid zijn. Een onderverdeling zou kunnen zijn: programmeerstadium; circuit ontwerp; aankoop onderdelen; assemblage; test; debugging; final check-up. Deze belangrijke stadia noemen we ‘milestones’. </p>

    <p class="title"><span class="step">5</span>Ontwerp je robot</p>
<p>Nadat je bovenstaande stappen allemaal hebt afgewerkt, is het tijd om de structuur van je robot te plannen. Je kan Google Sketch Up gebruiken om een 3D model van je robot te ontwerpen. Voor de ‘frame’ kan je een bestaand robot-kit kopen, oud speelgoed omvormen of zelf met allerlei onderdelen één bouwen. Bepaal hoeveel wielen je robot nodig zal hebben, welke stuurinrichting je zal gebruiken en welke de grootte zal worden. Ontwerp en bouw op basis van deze vereisten de frame van je robot.</p>

    <p class="title"><span class="step">6</span>Kies je wielen</p>
<p>Leg voldoende aandacht bij het type van wielen je robot zal nodig hebben. Kies je voor grote of kleine wielen? Al dan niet dik of dun? Deze beslissing heeft impact op de prestaties van je robot. Zo kan een robot met grote wielen makkelijker op ruwer terrein rondrijden, dan een robot met kleine wieltjes.</p>

    <p class="title"><span class="step">7</span>Keuze van de motoren</p>
<p>De motoren bewegen de mechanische onderdelen van je robot en het is relevant om de motoren te kiezen met een juiste voltage. Je hebt immers enerzijds voldoende voltage nodig om je robot aan te sturen, maar anderzijds zal je bij een hoger voltage ook een groter gewicht aan batterijen dienen te voorzien.</p>

    <p class="title"><span class="step">8</span>Ontwerp je circuit</p>
<p>Na de keuze van de motoren en wielen, kan je nu je elektronisch circuit gaan ontwerpen. Hiervoor kan je zelf aan de slag gaan als dat je voldoende kennis hebt. Anders is het zeker mogelijk om kant-en-klare oplossingen via het internet te bestellen. Het is zeker ook interessant om je circuit doorlopend te testen. Hiervoor kan je een breadboard gebruiken.</p>

    <p class="title"><span class="step">9</span>Programmeer de microcontroller</p>
<p>De motoren bewegen de mechanische onderdelen van je robot en het is relevant om de motoren te kiezen met een juiste voltage. Je hebt immers enerzijds voldoende voltage nodig om je robot aan te sturen, maar anderzijds zal je bij een hoger voltage ook een groter gewicht aan batterijen dienen te voorzien.</p>

    <p class="title"><span class="step">10</span>Last, but not least</p>
<p>Sluit je computer aan op de microcontroller, zet je programma over op de robot en testen maar! Dit is een heugelijk moment. Gefeliciteerd met je eerste robot!</p>

    </div>

    </body>
</html>